.qual-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Updated */
    height: 100%;
    width: 100%;
}

.qual-container h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.qual-container p {
    font-size: 1.5rem;
    line-height: 0.5;
    margin-top: 50px; 
}
