.qual-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Updated */
    height: 100%;
    width: 100%;
}

.qual-container h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.file_name {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.file_desc1 {
    font-size: 2.5rem;
    line-height: 0.5;
    margin-top: 150px;
    font-weight: bold;
}

.file_desc2 {
    margin-top: 50px
}